<div class="container">
  <div class="row">
    <div class="col s5">
      <div class="card">
        <div class="card-content">
          <form #subjectForm="ngForm" (ngSubmit)="addStudent(subjectForm)">
            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="subjectService.selectedSubject._id">
            <div class="row">
              <div class="input-field col s12">
                <input type="text" name="name" #name="ngModel" [(ngModel)]="subjectService.selectedSubject.name" placeholder="Enter subject name">
              </div>
              <!-- <div class="input-field col s12">
                <input type="text" name="students" #students="ngModel" [(ngModel)]="subjectService.selectedSubject.students._id" placeholder="Enter student id">
              </div> -->
              <div class="card-action">
                <div class="input-field col s12">
                  <button class="btn right" style="margin-left: 2px;">Save</button>
                  <button class="btn right" (click)="resetForm(subjectForm)">Clean</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col s7">
      <table>
        <thead>
          <th>Name</th>
          <th>Id student</th>
          <th>Students Name</th>
          <th>Students address</th>
          <th>Phones</th>
          <th>Edit and delete</th>
        </thead>
        <tbody>
          <tr *ngFor="let subject of subjectService.subject">
            <td>{{subject.name}}</td>
            <td>
              <table>
                <tr *ngFor="let student of subject.students">
                  <td>{{student._id}}</td>
              </table>
            </td>
            <td>
              <table>
                <tr *ngFor="let student of subject.students">
                  <td>{{student.name}}</td>
              </table>
            </td>
            <td>
              <table>
                <tr *ngFor="let student of subject.students">
                  <td>{{student.address}}</td>
              </table>
            </td>
            <td>
              <table>
                <tr *ngFor="let student of subject.students">
                  <td>
                    <table>
                      <tr *ngFor="let phone of student.phones">
                        <td>{{phone.phone}}</td>
                      </tr>
                    </table>
                  </td>
              </table>
            </td>
            <td>
              <a (click)="editSubject(subject)">
                <i class="material-icons">edit</i>
              </a>
              <a (click)="deleteSubject(subject._id, subjectForm)">
                <i class="material-icons">delete</i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>